@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sarpanch:wght@800;900&display=swap");
:root {
  --main-color: #4d4948;
  --main-color-transparent: rgba(77, 73, 72, 0.4);
  --white-color: #ffffff;

  --main-text-color: #a7d30c;
  --light-text-color: #666666;
  --link-color: #ffffff;

  --danger-color: #ec312b;
  --success-color: #0d9646;

  --sides-padding: 8vw;
  --top-bottom-padding: 4em;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

body {
  background-color: var(--main-color);
  color: var(--main-text-color);
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 14px;
}

.smootth-scroll {
  scroll-behavior: smooth;
}

p {
  text-align: justify;
  margin-bottom: 0.5em;
}

strong {
  font-weight: 500;
}

a {
  color: var(--link-color);
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}
a:hover {
  opacity: 0.6;
}
a.opacity-full:hover {
  opacity: 1;
}

ul {
  padding-left: 5em;
}

button {
  border: 1px solid var(--main-color);
  color: var(--main-color);
  background-color: rgba(0, 0, 0, 0.4);
  padding: 0.5em 1em;
  cursor: pointer;
}
button:hover {
  opacity: 0.8;
  transition: all 0.2s ease-in-out;
}

/* floating labels */
.floating-label {
  display: block;
  pointer-events: none;
  padding-left: 1em;
  font-size: 1.1em;
  line-height: 1.5rem;
  transform: translateY(1.6em);
  color: var(--light-text-color);
  transition: all 0.3s ease, color 0.4s;
}

.floating-label.moveUp {
  transform: translateY(0);
  line-height: 1.5rem;
  font-size: 0.8em;
  color: var(--main-color);
}

input,
textarea {
  background-color: transparent;
  padding: 0.5em 1.5em;
  border: none;
  border-bottom: 1px solid var(--light-text-color);
  font-size: 1em;
  outline: none;
  width: 100%;
}
input[type="checkbox"] {
  width: auto;
  margin-right: 0.3em;
  transform: translateY(8%);
}
.current-input {
  border-bottom: 1px solid var(--main-color);
}

::placeholder {
  opacity: 0.7;
}

:-ms-input-placeholder {
  opacity: 0.7;
}

::-ms-input-placeholder {
  opacity: 0.7;
}

hr {
  height: 1px;
  background-color: var(--main-text-color);
  opacity: 0.5;
  border: none;
  margin: 1em 0;
}

section {
  padding: var(--top-bottom-padding) var(--sides-padding);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section-title {
  font-size: 2.5em;
  font-weight: 400;
  margin-bottom: 2em;
}

::placeholder {
  color: var(--main-text-color);
  opacity: 0.7;
}

:-ms-input-placeholder {
  color: var(--white-color);
  opacity: 0.7;
}

::-ms-input-placeholder {
  color: var(--main-text-color);
  opacity: 0.7;
}

.error {
  color: var(--danger-color);
}
.success {
  color: var(--success-color);
}

/* ============preloader===================== */
.preloader {
  position: fixed;
  top: 0em;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(256, 256, 256, 0.95);
  z-index: 8;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.3s ease-in-out;
}
.preloader img {
  width: 7em;
  animation: rotate 2s infinite;
  background-color: var(--main-text-color);
}

/* ===================== */
.to-top-arrow {
  position: fixed;
  display: flex;
  justify-content: center;
  bottom: 2em;
  right: 2em;
  z-index: 9;
  width: 3em;
  cursor: pointer;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s;
}

/* ======================HEADER=============================== */
header {
  z-index: 10;
  width: 100%;
  height: 5em;
  padding: 0 var(--sides-padding);
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--main-text-color);
}

.header-menu {
  width: 100%;
}

header.showNav {
  transform: translateY(-100%);
  animation-name: slideDown;
  animation-fill-mode: forwards;
}

header.hideNav {
  transform: translateY(-100%);
  animation-name: slideUp;
  animation-fill-mode: forwards;
}

#logo-section {
  display: flex;
  align-items: center;
}

#logo {
  max-width: 8em;
}

#logo-section h1 {
  font-family: "Sarpanch", sans-serif;
  font-size: 3em;
  font-weight: 800;
  line-height: 1;
  color: var(--main-text-color);
}

.nav-links {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  padding: 0;
  height: fit-content;
}

header .nav-links li {
  margin: 0 1em;
  color: var(--main-text-color);
  cursor: pointer;
}
header .nav-links li a {
  color: var(--main-text-color);
}
header .nav-links li:first-child {
  margin-left: 0;
}
header .nav-links li:last-child {
  margin-right: 0;
}
.current-page {
  border-bottom: 2px solid var(--main-text-color);
}

/* Hamburger */
#hamburger {
  display: none;
  transition: all 0.7s ease-in-out;
  z-index: 2;
}

#hamburger div {
  pointer-events: none;
  width: 1.9em;
  height: 0.3em;
  margin: 0.4em;
  transition: all 0.7s ease;
  background-color: var(--main-color);
}

#hamburger.toggle-burger .line1 {
  transform: rotate(-135deg) translate(-5px, 6px);
  position: relative;
  top: 0.15em;
  background-color: var(--white-color);
}

.toggle-burger .line2 {
  opacity: 0;
}

#hamburger.toggle-burger .line3 {
  transform: rotate(135deg) translate(-5px, -6px);
  position: relative;
  bottom: 0.1em;
  background-color: var(--white-color);
}

/* ########################## FOOTER ##################################### */
footer {
  width: 100%;
  padding: 0 var(--sides-padding);
  height: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer p {
  text-align: center;
  font-size: 0.9em;
}

footer a,
footer a:visited {
  color: var(--white-color);
}

/* ################################# MAIN CONTENT ############################### */

/*================ Home page======================== */
.hero {
  width: 100%;
  /* header(5em)+footer(3em) = 10em */
  height: calc(100vh - 8em);
  padding: 0 var(--sides-padding);
}

.links-container {
  width: 100%;
  height: 100%;
  display: grid;
  position: relative;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  border-top: 2px solid var(--main-color);
  border-left: 2px solid var(--main-color);
  border-bottom: 1px solid var(--main-color);
}

.links-container-item {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
  border-bottom: 2px solid var(--main-color);
  border-right: 2px solid var(--main-color);
  cursor: pointer;
}
.links-container-item.empty {
  cursor: default;
}
.links-container-item p {
  font-size: 1.5em;
  font-weight: 400;
  color: var(--white-color);
  text-shadow: 0px 0px 5px #1f1f1f;
}
.contact-container {
  display: flex;
  width: 100%;
}
.contact-container .contact-logo {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.logo-details {
  width: 60%;
}
.contact-container .contact-logo-img {
  width: 100%;
  margin-bottom: 2em;
}
.contact-container .contact-logo img.contact-icon {
  width: 1.8em;
  transform: translateY(20%);
  margin-right: 0.5em;
}
.contact-details {
  width: 100%;
}
.contact-container .contact-logo p {
  width: 100%;
  text-align: center;
}
.contact-container form {
  width: 50%;
}
.form-line {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.form-line .input-container {
  width: 100%;
}
.form-line .input-container.half-width {
  width: 45%;
}
.input-container input {
  width: 100%;
}

.terms-checkbox {
  margin: 1em 0;
}

.all-fields-required-message {
  color: var(--danger-color);
  margin: 0;
  display: none;
}

.submit-contact,
.submit-become-a-member {
  color: var(--white-color);
  background-color: var(--main-color);
  font-size: 1.2em;
  margin-top: 0.5em;
  width: 100%;
}

.bg-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  z-index: -1;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--main-color-transparent);
  z-index: -1;
  opacity: 0;
}
.bg-image.bg-bottom {
  object-position: center bottom;
}
.links-container-item .bg-image {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.links-container-item:hover .bg-image,
.links-container-item:hover .overlay,
.bg-image:hover {
  opacity: 1;
}

.captcha-failed-p {
  width: 100%;
  text-align: center;
  margin-bottom: 1em;
  font-size: 1.2em;
  font-weight: 500;
}
.grecaptcha-badge {
  visibility: hidden;
}

/* ========================================== */
.hide {
  opacity: 0 !important;
  pointer-events: none !important;
}
.show {
  opacity: 1 !important;
  pointer-events: all !important;
}

/* ################################## RESPONSIVE ########################## */

@media screen and (max-width: 1024px) {
  header {
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    -webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.35);
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.35);
  }

  header hr {
    display: none;
  }

  #hamburger {
    display: block;
  }
  .header-menu {
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
    z-index: 1;
    display: flex;
    justify-content: flex-end;
    transform: translateX(100%);
  }

  .nav-links {
    width: 70%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10vh 0;
    background-color: var(--main-color-transparent);
    color: var(--white-color);
  }

  header .nav-links li {
    color: var(--white-color);
    font-size: 1.5em;
    min-height: 1em;
    padding: 0;
    margin-bottom: 2em;
    font-weight: 300;
    text-align: center;
  }

  .to-top-arrow {
    bottom: 5vh;
  }
}

@media screen and (max-width: 768px) {
  header .nav-links li {
    color: var(--white-color);
    font-size: 1.2em;
  }

  .contact-container {
    flex-direction: column;
  }
  .contact-container .contact-logo {
    width: 100%;
    align-items: center;
    margin-bottom: 5em;
  }
  .logo-details {
    width: 100%;
  }
  .contact-container .contact-logo-img {
    width: 15em;
    margin-bottom: 2em;
    display: block;
    margin: 0 auto 2em auto;
  }

  .contact-container form {
    width: 100%;
  }
}

@media screen and (max-width: 450px) {
  :root {
    --sides-padding: 5vw;
  }
  body {
    font-size: 0.6em;
  }
  .nav-links {
    width: 100%;
  }
  #logo-section h1 {
    font-size: 1.4em;
  }
}

/* ################################# ANIMATIONS ########################### */
@keyframes slideDown {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}

@keyframes slideUp {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-100%);
  }
}

/* navslide in mobile */
@keyframes navSlideIn {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0%);
  }
}

@keyframes navSlideOut {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(100%);
  }
}

@keyframes rotate {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.5);
  }

  100% {
    transform: scale(1);
  }
}
